# Dependencias
node_modules/

# Compilación
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
coverage/
.nyc_output/

# IDEs
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Variables de entorno
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temporales
.temp/
.tmp/

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.*.json